body{background: white url(https://cloud.githubusercontent.com/assets/18086617/16283126/cc8f7aec-38cb-11e6-91fa-d7eb7ff61c29.png);margin: 0;padding: 0;font: 26px/32px Arial, Tahoma, sans-serif;}
    body,
    html {
      margin: 0px;
      height: 1500px;
    }
header{
  margin-top: -100px;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 46px;
  line-height: 75px;
  background: white url(https://cloud.githubusercontent.com/assets/18086617/16282825/aa62c7a4-38ca-11e6-9655-47a6e6e00c11.jpg);
  color: #87CEFA;
  font-family: 'PT Sans', sans-serif;
  transition: all 0.7s ease;
  text-shadow: 2px 2px 3px #777;
  border:1px solid #ebebee;
  border-bottom:3px solid #ddd;
}
header.sticky {
  font-size: 36px;
  line-height: 48px;
  height: 48px;
  background: white url(https://cloud.githubusercontent.com/assets/18086617/16282836/c074b46c-38ca-11e6-97f6-3d38bd719a4b.jpg);
  text-align: left;
  padding-left: 20px
  color: #87CEFA;
}
.nos{
  padding-top:400px;
  text-align: center;
  text-shadow: 2px 2px 3px #777;
}
.topmenu {float: right;height: 70px;line-height: 70px;margin-right: 20px;width: 600px; font-size: 38px;}
.topmenu a{margin:0 0 0 10px;color: white;}
.topmenu a:hover{color: #a3a1f3;}
    .head {
      margin-top: 120px;
      width:100%;
      height: 400px;
      background: white url(https://cloud.githubusercontent.com/assets/18086617/16282844/cecd7e68-38ca-11e6-9d07-8e2ae7eb3ca1.jpg);
      box-shadow: 6px 6px 14px -1px #777;
    }
    .under{
      margin-left: 120px;
      margin-top: 110px;
    }
    .text {
      font-size: 34px;
      color: white;
    }
    .text a:hover{
      text-transform: uppercase;
    }
    .anons{
      width: 466px;
      height: 565px;
      background: white;
      margin-left: 110px;
      border: 1px solid black;
      box-shadow: 3px 3px 7px -1px black;
    }
    .anons img {
      margin-left: 9px;
      margin-top: 5px;
      border-radius: 3px;
    }
    .anons img:hover{
      transform:scale(1.04) rotate(-1deg);
      transition: transform 0.7s;
    }
    .like{
      margin-left: 160px;
      margin-top: -100px;
    }
    .like:hover{
    transform:scale(1.01) rotate(0);
    transition: transform 0.8s;
    }
    .likers{
     margin-top: 3px;
     margin-left: 73px;
     font-size: 20px;
     color: #2D6875;
    }
    .added{
     margin-top: -70px;
     margin-left: 300px;
     font-size: 14px;
     color: #2D6875;
    }
    .comments{
     margin-top: 10px;
     margin-left: 100px;
     font-size: 24px;
     color: #2D6875;
    }
    #rezume{
      margin-right: 30px;
      margin-top: 200px;
      float: center;
      width: 1200px;
      height: 760px;
      background: white;
      margin-left: 110px;
      border: 1px solid black;
      box-shadow: 3px 3px 7px -1px black;
      text-align: center;
      background: white url(https://cloud.githubusercontent.com/assets/18086617/16282763/6b5d509c-38ca-11e6-9548-51b6b8d4237b.jpg);
    }
    h4{
      font-size: 24px;
    }
    p{
      font-size: 18px;
    }
    h3{
      font-size: 30px;
    }
    .prof{
      width: 300px;
      float: left;
      margin-top: 50px;
      margin-left: 800px;
      color: #2D6875;
    }
    .footer{text-align: center;margin-top:100px;}
.footer span{margin: 0px 30px;}
.kart{ width:95%;padding: 20px 50px 0 50px;margin-bottom: 20px;
  background: linear-gradient(90deg,#c16a8a 100px,#a367ba 100px,#a367ba 200px,#2987bf 200px,#2987bf 300px,
    #76a7ac 300px,#76a7ac 400px,#93ae65 400px,#93ae65 500px,#dbb16f 500px);
      background-color: #f2f2f2;background-size: 600px 10px}
